:root {
  --color-primary: #209959;
  --color-secondary: #68cc97;
  --color-tertiary: #a7ff9c;
  --color-quarter: #fcdbff;
  --color-white: #fff;
  --color-black: #444444;
  --color-grey: rgba(204, 204, 204, 0.5);
  --color-black-shadow: rgba(0, 0, 0, 0.2);
  --color-green-shadow: rgba(168, 223, 255, 0.3);
  --z-small: 10;
  --z-medium: 100;
  --z-large: 1000;
  --z-xlarge: 10000;
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-quarter);
}

.container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

a:hover {
  color: var(--color-secondary);
}

.menu-principal {
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid var(--color-primary);
  padding: 0 36px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: var(--z-medium);
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-logo {
  display: inline-block;
}

.menu-nav {
  list-style: none;
  display: flex;
}

.menu-nav a {
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
  font-size: 0.876rem;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.5em;
  transition: all 0.3s ease;
}

.menu-iconos a {
  display: inline-block;
  padding: 0 10px;
  font-size: 0.876rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all 0.3s ease;
}

.menu-movil {
  display: none;
}

.menu-movil .menu-nav {
  display: flex;
  flex-direction: column;
}

.menu-clon {
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid var(--color-primary);
  padding: 0 36px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: var(--z-large);
  transition: all 0.4s ease;
  margin-top: -68px;
}

/* main section */

/* banner */

.main {
  width: 100%;
  margin-top: -68px;
}

.banner-principal {
  position: relative;
  width: 100%;
}

.banner {
  width: 100%;
  height: 100vh;
  background: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.texto-banner {
  position: absolute;
  display: inline-block;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.texto-banner h1 {
  font-size: 5rem;
  color: var(--color-white);
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 20px;
  font-family: 'Bebas Neue', cursive;
}

.texto-banner h2 {
  color: var(--color-white);
  font-size: 3rem;
  margin: 10px 0;
  font-family: 'Dancing Script', cursive;
  text-shadow: 1px 1px var(--color-secondary);
}

.texto-banner h3 {
  color: var(--color-quarter);
  margin-top: -20px;
  padding-top: 0;
  margin-bottom: 50px;
  font-weight: 200;
  text-shadow: 1px 1px var(--color-black);
}

.texto-banner a {
  display: inline-block;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 10px;
}

.texto-banner a:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  transition: all 0.5s ease;
}

.proyectos {
  background-color: var(--color-green-shadow);
}

.titulo-seccion {
  text-align: center;
}

.titulo-seccion h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 3.125rem;
}

.titulo-seccion p {
  padding-top: 0;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 4%;
}

.galeria-proyectos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 34px;
  border-bottom: 1px solid var(--color-secondary);
}

.proyecto {
  width: 32%;
  cursor: pointer;
  margin-bottom: 2%;
}

.proyecto img {
  width: 100%;
  vertical-align: top;
}

/* nosotros */
.nosotros {
  background-color: var(--color-green-shadow);
}
.texto-nosotros {
  width: 60%;
}

@media screen and (max-width: 900px) {
  a {
    color: var(--color-black);
  }
  .menu-principal {
    display: none;
  }

  .menu-movil {
    display: block;
    width: 100%;
    padding: 5px 18px;
    background-color: var(--color-white);

    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-small);
  }

  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .barra a i {
    font-size: 1.4rem;
  }

  .menu-logo {
    width: 40px;
  }

  .menu-logo img {
    width: 100%;
  }

  .mobil-menu {
    width: 80%;
    display: block;
    position: fixed;
    top: 53px;
    left: -100%;
    border-bottom: 1px solid var(--color-grey);
    border-right: 1px solid var(--color-grey);
    box-shadow: 0px 1px 5px -1px var(--color-black-shadow);
    background: var(--color-white);
    text-align: center;
  }

  .texto-banner h2 {
    font-size: 2rem;
  }
}
