:root {
  --color-primary: #209959;
  --color-secondary: #68cc97;
  --color-tertiary: #a7ff9c;
  --color-quarter: #fcdbff;
  --color-white: #fff;
  --color-black: #67997c;
  --color-black2: #444444;
  --color-grey: rgba(204, 204, 204, 0.5);
  --color-black-shadow: rgba(0, 0, 0, 0.2);
  --color-green-shadow: rgba(231, 232, 233, 0.5);
  --z-small: 10;
  --z-medium: 100;
  --z-large: 1000;
  --z-xlarge: 10000;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--color-green-shadow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
}

p {
  font-size: 0.9rem;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.btn-volver-arriba {
  display: inline-block;
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  bottom: 20px;
  right: -60px;
  z-index: var(--z-xlarge);
  transition: all 0.4s ease;
  background-color: var(--color-primary);
}

.volver-arriba {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--color-white);
}

.volver-arriba i {
  font-size: 1rem;
  line-height: 40px;
}

.menu-principal {
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid var(--color-primary);
  padding: 0 36px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: var(--z-medium);
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-nav {
  list-style: none;
  display: flex;
  z-index: var(--z-large);
}

.menu-nav a {
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  font-size: 0.876rem;
  letter-spacing: 0;
  font-weight: 700;
  transition: all 0.3s ease;
  color: var(--color-white);
}

.menu-nav a:hover {
  background-color: var(--color-primary);
}

.menu-logo {
  width: 70px;
  display: inline-block;
}

.menu-logo img {
  width: 100%;
}

.menu-iconos a {
  display: inline-block;
  padding: 0 10px;
  font-size: 0.876rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all 0.3s ease;
  z-index: var(--z-large);
}

.menu-iconos a:hover {
  color: var(--color-primary);
}

.menu-movil {
  display: none;
}

.menu-movil .menu-nav {
  display: flex;
  flex-direction: column;
}

.menu-clon {
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid var(--color-grey);
  padding: 0 36px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: var(--z-large);
  transition: all 0.4s ease;
  margin-top: -68px;
}

.menu-clon .menu-nav a {
  color: var(--color-white);
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.menu-clon .menu-iconos a {
  color: var(--color-white);
}
.menu-clon .menu-iconos a:hover {
  color: var(--color-primary);
}

.menu-clon .menu-nav a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* main section */

/* banner */

.main {
  width: 100%;
  margin-top: -68px;
}

.banner-principal {
  position: relative;
  width: 100%;
}

.banner {
  width: 100%;
  height: 100vh;
  background: url('https://github.com/fmunives/Servicios-Agricolas/blob/master/img/banner4.jpg?raw=true');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.texto-banner {
  position: absolute;
  display: inline-block;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.texto-banner h1 {
  font-size: 5rem;
  color: var(--color-white);
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  letter-spacing: 40px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  /* margin-right: -60px; */
}

.texto-banner h2 {
  color: var(--color-white);
  font-size: 3rem;
  margin: 10px 0;
  font-family: 'Dancing Script', cursive;
  text-shadow: 1px 1px var(--color-secondary);
}

.texto-banner h3 {
  color: var(--color-quarter);
  margin-top: -10px;
  margin-bottom: 100px;
  padding-top: 0;
  letter-spacing: 5px;
  text-shadow: 1px 1px var(--color-black);
}

.link-banner {
  justify-content: center;
  align-items: center;
}

.texto-banner a {
  display: inline-block;
  background-color: var(--color-primary);
  padding: 10px;
  border: 1px solid var(--color-primary);
  transition: all 0.5s ease;
  font-size: 1.3rem;
}

.texto-banner a:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

/* proyectos */

.proyectos {
  padding: 108px 0 54px 0;
}

.titulo-seccion {
  text-align: center;
}

.titulo-seccion h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 3.125rem;
}

.titulo-seccion p {
  padding-top: 0;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 4%;
}

.galeria-proyectos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 34px;
  border-bottom: 1px solid var(--color-secondary);
}

.proyecto {
  width: 32%;
  cursor: pointer;
  margin-bottom: 2%;
}

.proyecto img {
  width: 100%;
  vertical-align: top;
}

/* modal */

.modal {
  position: fixed;
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: var(--color-black-shadow);
  z-index: var(--z-xlarge);
}

.modal img {
  width: 90%;
  max-width: 600px;
}

.modal .btn-cerrar {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  background-color: var(--color-primary);
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  color: var(--color-white);
}

.modal .btn-cerrar i {
  font-size: 1rem;

  line-height: 40px;
}

/* nosotros */

.nosotros .titulo-seccion h2,
.nosotros .titulo-seccion p {
  text-align: right;
  padding-right: 20px;
}

.texto-nosotros {
  width: 60%;
  color: var(--color-black);
  font-size: 0.9rem;
  text-align: left;
}

/* slide */
.contenedor-slider {
  width: 100%;
  position: relative;
  padding: 54px 0;
  overflow: hidden;
}

.slider {
  width: 400%;
}

.slide {
  width: 15%;
  max-width: 950px;
  margin-right: 0.7%;
  box-shadow: 1px 20px 40px #aaa;
}

.slide img {
  width: 100%;
  vertical-align: top;
}

.btn-anterior {
  left: 2%;
}

.btn-anterior i,
.btn-siguiente i {
  color: var(--color-white);
  transition: all 0.4s ease;
}
.btn-anterior i:hover,
.btn-siguiente i:hover {
  color: var(--color-primary);
}

.btn-siguiente {
  right: 2%;
}

.btn-anterior,
.btn-siguiente {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%);
}

/* equipo */

.nuestro-equipo {
  padding: 55px 0;
}

.nuestro-equipo .container {
  border-top: 1px solid var(--color-primary);
}

.equipo {
  flex-wrap: wrap;
  justify-content: space-between;
}

.persona-equipo .equipo-redes a {
  color: var(--color-black);
  padding-right: 20px;
}

.persona-equipo .equipo-redes {
  margin-bottom: 10px;
}

.persona-equipo .equipo-redes a:last-child {
  padding-right: 0;
}

.persona-equipo .equipo-redes a:hover {
  color: var(--color-primary);
}

.persona-equipo {
  padding: 50px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 9px 15px -1px rgba(2, 121, 2, 0.2);
  text-align: center;
  border: 1px solid var(--color-tertiary);
  border-radius: 5px;
  background-color: var(--color-white);
}

.persona-equipo:first-child,
.persona-equipo:last-child {
  position: relative;
  top: 20px;
}

.foto {
  width: 50%;
  max-width: 100px;
  display: inline-block;
  margin-bottom: 10px;
}

.foto img {
  width: 100%;
  border-radius: 100%;
}

.texto h3 {
  font-size: 1.3rem;
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 0;
}

.texto h4 {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 15px;
  color: var(--color-secondary);
  margin-top: 0;
}

.texto p {
  font-size: 0.9rem;
  color: var(--color-black);
  font-weight: 400;
  margin-bottom: 0;
}

/* info extra */

.info-extra .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.info {
  width: 50%;
  padding-right: 15px;
}

.contenido-info {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.contenido-info:first-child {
  margin-bottom: 30px;
}

.info-extra {
  background-color: #191919;
  padding: 130px 0;
}

.icono-info {
  width: 5%;
}

.icono-info i {
  font-size: 1.5rem;
  color: var(--color-white);
}

.texto-info {
  padding-left: 3%;
}

.texto-info h4 {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 10px;
}
.texto-info p {
  font-size: 0.9rem;
  color: #979797;
}

.info-extra .container .photo {
  width: 50%;
  height: 345px;
  background-image: url('../img/info-photo.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
}

/* contacto */
.contacto {
  background-image: url('../img/contact-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 120px 0;
}

.container-contacto {
  background-color: var(--color-white);
  min-height: 485px;
  border-radius: 3px;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}

.form {
  width: 50%;
  padding: 70px;
}

.form h2 {
  font-size: 1.375rem;
  line-height: 24px;
  color: var(--color-primary);
}

.form p {
  font-size: 0.9rem;
  color: var(--color-secondary);
  margin-bottom: 20px;
  margin-top: 10px;
}

input[type='text'],
input[type='email'],
textarea {
  padding: 10px 0;
  outline: none;
  width: 100%;
  border-bottom: 1px solid var(--color-tertiary);
  color: var(--color-black);
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  max-width: 100%;
}

textarea {
  min-height: 88px;
  max-height: 88px;
}

input[type='submit'] {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  padding: 8px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

input[type='submit']:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.contacto-photo {
  width: 50%;
  background-image: url('../img/contact-message.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* footer */

footer {
  color: var(--color-secondary);
  padding: 50px;
}

.footer-icons i {
  color: var(--color-secondary);
  padding: 0 10px;
  margin-top: 20px;
}

.footer-icons i:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 1040px) {
  /* banner */
  .link-banner a {
    color: var(--color-white);
  }
  /* equipo */

  .equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .persona-equipo {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .persona-equipo .foto {
    margin-right: 30px;
  }

  .persona-equipo .texto h3 {
    margin-top: 0;
  }

  .persona-equipo:first-child {
    margin-bottom: 40px;
  }

  /* info-extra */
  .info {
    width: 100%;
  }

  .info-extra .container .photo {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .main {
    margin-top: 0;
  }
  /* menu */

  .menu-clon {
    display: none;
  }
  a {
    color: var(--color-black);
  }
  .menu-principal {
    display: none;
  }

  .menu-movil {
    display: block;
    width: 100%;
    padding: 5px 18px;
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-small);
  }

  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .barra a i {
    font-size: 1.4rem;
  }
  .menu-logo {
    width: 40px;
    display: inline-block;
  }

  .menu-logo img {
    width: 100%;
  }

  .mobil-menu {
    width: 80%;
    display: block;
    position: fixed;
    top: 42px;
    right: -100%;
    border-bottom: 1px solid var(--color-grey);
    border-right: 1px solid var(--color-grey);
    box-shadow: 0px 1px 5px -1px var(--color-black-shadow);
    background: var(--color-secondary);
    text-align: center;
  }

  .mobil-menu .menu-nav a {
    display: block;
    border-bottom: 1px solid var(--color-grey);
    padding: 7px 0;
    height: auto;
    color: var(--color-white);
  }

  .mobil-menu .menu-nav a:hover {
    color: var(--color-white);
  }

  .mobil-menu .menu-nav a:last-child {
    border-bottom: none;
  }

  .mobil-menu .menu-nav {
    margin: 0;
  }

  .texto-banner h2 {
    font-size: 2rem;
  }

  /* nosotros */

  .nosotros .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .texto-nosotros {
    width: 100%;
  }

  .nosotros .titulo-seccion h2,
  .nosotros .titulo-seccion p {
    text-align: center;
  }

  .texto-nosotros {
    text-align: center;
  }

  /* contacto */

  .form {
    width: 1000%;
  }

  .form h2,
  .form p {
    text-align: center;
  }

  .contacto-photo {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  /* banner */
  .texto-banner h1 {
    font-size: 4rem;
    letter-spacing: 20px;
    /* margin-right: -40px; */
  }
  .texto-banner h3 {
    letter-spacing: 2px;
  }

  p {
    font-size: 0.9rem;
  }

  .titulo-seccion h2 {
    font-size: 2rem;
  }

  .titulo-seccion p {
    font-size: 0.9rem;
  }

  /* proyectos */

  .galeria-proyectos .proyecto {
    width: 49%;
  }

  .proyectos .titulo-seccion {
    padding-top: 0;
    margin-top: -40px;
    margin-bottom: 10px;
  }

  .proyectos .titulo-seccion p {
    margin-bottom: 30px;
  }

  /* equipo */

  .persona-equipo .foto {
    margin-right: 0;
  }

  .persona-equipo {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* info-extra */
  .contenido-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  .icono-info {
    width: 100%;
    margin-bottom: 20px;
  }

  .icono-info i {
    font-size: 3.5rem;
  }

  /* form */

  .form {
    padding: 40px;
  }
}
